/vendor/
.env
.env.local
.env.development
.env.test
.env.production
.env.staging
.env.development.local
.env.test.local
.env.example.local
.env.production.local
.env.staging.local
.env.development.test
.env.test.test
.env.example.test
.env.production.test
.env.staging.test
.env.development.example
.env.test.example
.env.example.example
.env.production.example
