@charset "UTF-8";
@import "./components/variables.scss";


@import "./components/nav.scss";
@import "./components/nav-responsive.scss";
@import "./components/presentation.scss";
@import "./components/posts.scss";
@import "./components/normalize.scss";

/* diseño de la seccion de informacion de las tecnicaturas */
@import "./components/article.scss";
@import "./components/cards.scss";
@import './components/news.scss';


.card-one,
.section-fp {
  padding: 30px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  background: $color-school;

  .card__h1 {
    color: whitesmoke;
    margin: auto;
    font-family: $font-title, sans-serif;
    font-size: 40px;
  }
}

.card-one {
  text-align: center;
  background:
    radial-gradient(
      circle at 50% -90%,
      $primary,
      $dark 80.71%
    ),
    radial-gradient(
      circle at 6.7% 75%,
      $secondary,
      $dark 70.71%
    ),
    radial-gradient(
        circle at 93.3% 75%,
        $secondary,
        $dark 70.71%
      )
      beige;
  .card__p-subtitle {
    font-size: 25px;
  }
}

.section-basic-cycle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100vh;
  position: relative;
  background: url('../img/img-basic-cycle/img1.webp') no-repeat center center/cover;
  animation: cambiarImagen 6s ease-in-out infinite alternate; 

  .bg-color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &__h4 {
    text-align: center;
    font-size: 70px;
    position: relative;

    @media screen and (max-width: 764px) {
      font-size: 30px;
    }
  }

  &__div-age {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    text-decoration: none;

    .section-basic-cycle__p-age {
      font-size: 40px;
      text-decoration: none;
      font-family: monospace;
      user-select: none;
      background: rgba(0, 0, 0, 0.6);
      padding: 40px;
      cursor: pointer;
      background: rgba(0, 0, 0, .3);
      -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);
      border: 1.5px solid rgba(0, 0, 0, 0.3);
      @media screen and (max-width: 764px)  {
        font-size: 24px;
      }
    }
  }

  &__h5 {
    font-size: 30px;
    position: relative;
    text-align: center;
  }

  &__p-info {
    text-align: justify;
    padding: 10px;
    width: 70%;
    position: relative;
    background: rgba(0, 0, 0, .3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(0, 0, 0, 0.3);
  }
}


@media only screen and (max-width:980px) {
  .section-basic-cycle__div-age {
    flex-direction: column;
  }
}

@media only screen and (max-width:500px) {
  .section-basic-cycle {
    &__p-info {
      width: 70%;
    }
  }
}

@import "./components/responsive.scss";

@keyframes aparecer {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-90deg);
  }
}


// TODO: images.
@keyframes cambiarImagen {
  0% {
    background: url('/assets/img/img-basic-cycle/img1.webp') no-repeat center center/cover;
  }

  25% {
    background: url('/assets/img/img-basic-cycle/img1.webp') no-repeat center center/cover;
  }

  50% {
    background: url('/assets/img/img-basic-cycle/img3.webp') no-repeat center center/cover;
  }

  75% {
    background: url('/assets/img/img-basic-cycle/img3.webp') no-repeat center center/cover;
  }

  90% {
    background: url('/assets/img/img-basic-cycle/img4.webp') no-repeat center center/cover;
  }

  100% {
    background: url('/assets/img/img-basic-cycle/img4.webp') no-repeat center center/cover;
  }
}
@import './components/form_contact.scss';
@import './components/footer.scss';
