.section-news {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  margin: auto;
  gap: 50px;
  background: linear-gradient(to bottom, $dark, $medium);

  h5 {
    color: $color-text;
    font-size: 40px;
    font-family: $font-title;
    border-bottom: 1px solid $color-text;
    margin: 0px 10px;
    padding-bottom: 20px;

    @media only screen and (max-width: 992px) {
      font-size: 30px;
      margin: 10px;
    }
  }

  .section-news__div {
    display: flex;
    gap: 20px;
    padding: 10px;
    width: 100%;
    height: calc(100vh - 90px);

    .section-news__div-primary {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      width: 65%;
      height: 100%;
      max-height: 600px;
      overflow: hidden;
      box-shadow: 0px 0px 3px 1px rgba(255,255,255,0.35);
      -webkit-box-shadow: 0px 0px 3px 1px rgba(255,255,255,0.35);
      -moz-box-shadow: 0px 0px 3px 1px rgba(255,255,255,0.35);
      transition: 0.2s ease;
      position: relative;

      .section-news__img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
        background-attachment: fixed;

        @media only screen and (max-width: 576px) {
          width: 100%;
          height: 100%;
        }
      }

      .section-news__div-primary-info {
        display: flex;
        flex-direction: column;
        height: 40%;
        padding: 8px;

        h2 {
          color: $color-text;
          font-size: 26px;
          font-family: $font-title;
        }

        .section-news__p-date {
          color: $color-date;
          font-size: 12px;
          font-family: arial;
          font-weight: bold;
          margin-bottom: 10px;
          i {
            color: $color-date;
          }
        }

        @media only screen and (max-width: 576px) {
          width: 100%;
          height: auto;
        }
      } /* end .section-news__div-primary-info */

      .section-news__a {
        text-decoration: none;
        position: absolute;
        bottom: 10px;
        left: 10px;
        @media only screen and (max-width: 992px) {
          position: relative;
        }
      }

      .section-news__a:hover {
        color: $primary;
      }

      @media only screen and (max-width: 992px) {
        width: 100%;
      }

    } /* end .section-news__div-primary */

    .section-news__div-secondary {
      box-shadow: 0px 0px 3px 1px rgba(255,255,255,0.35);
      -webkit-box-shadow: 0px 0px 3px 1px rgba(255,255,255,0.35);
      -moz-box-shadow: 0px 0px 3px 1px rgba(255,255,255,0.35);
      width: 35%;
      height: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .section-news__news--small {
        flex: 1;
        display: flex;
        align-items: start;
        color: $color-text;
        font-family: $font-text;
        font-size: 16px;
        gap: 10px;
        overflow: hidden;

        .section-news__img--small {
          width: 30%;
          height: 100%;
          object-fit: cover;
          @media only screen and (max-width: 576px) {
            width: 100%;
            height: auto;
          }
        } /* end .section-news__img--small */

        .section-news__div-info--small {
          display: flex;
          flex-direction: column;
          position: relative;
          height: 100%;
          width: 70%;

          .section-news__h2--small {
            font-size: 14px;
            font-weight: bold;
          }

          .section-news__p-date--small {
            font-size: 12px;
            color: $color-date;
            i {
              color: $color-date;
            }
          }

          .section-news__a--small {
            position: absolute;
            bottom: 0px;
            text-decoration: none;
            border-radius: 8px;
            font-size: 14px;

            @media only screen and (max-width: 992px) {
              position: relative;
              margin-top: 10px;
            }
          }

          .section-news__a--small:hover {
            color: $primary;
          }
        } /* end .section-news__div-info--small */

        @media only screen and (max-width: 576px) {
          flex-direction: column;
        } 
      } /* end .section-news__news--small */

      @media only screen and (max-width: 992px) {
        width: 100%;
        gap: 50px;
      }
    } /* end .section-news__div-secondary */
    
    @media only screen and (max-width: 992px) {
      height: max-content;
      flex-direction: column;
    }
  } /* end .section-news__div */

  & .section-news__a-info {
    text-decoration: none;
    padding: 15px 40px;
    width: max-content;
    margin: 20px auto;
    transition: background 0.2s ease;
    border: 2px solid $primary;
    z-index: 10;
    position: relative;
    overflow: hidden;
  }

  & .section-news__a-info::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    left: 0;
    top: -200%;
    background: $primary;
    transition: 0.5s ease;
    border-radius: 50%;
    z-index: -1;
  }


  & .section-news__a-info:hover::before {
    top: 0;
    border-radius: 0;
  }

  @media only screen and (max-width: 576px) {
    padding: 8px;
  }
} /* end .section-news */
