$color_text:#fff;
$font-text: "Times New Roman";
body {
    background: $color-school;
}


.section-two {
    background: url("../../img/banner.jpg") center center/cover;
    height: 55vh;
    width: 100%;
    position:relative;
    display: flex;
    justify-content: center;
    .container-text {
        background: rgba(20,20,20,0.4);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &__h1 {
            font-size:3em;
            text-align: center;
        }
    }
    &__div-school {
        transform: translateY(50%);
        width: max-content;
        height: max-content;
        display: inline-block;
        padding: 35px;
        border-radius: 100%;
        background: $color-school;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom:0;
        margin:auto;
        .div-school__img {
            width: 110px;
            height: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
