$primario: #fff;
$color-pared: white;
$font-title: "Oswald";
$dark: #111016;
$medium: #121119;
$primary: #a2132f;
$secondary: #05274c;
$color-school: #750E21;
$box_shadow-cards: $primary;
$font-text: "Times New Roman";
$color-date: rgba(255 255 255 / 0.4);
$color_text:#fff;

