$primario: #fff;
$color-pared: white;
$font-title: "Oswald";
$color-school: #1a1a1f;
$dark: #111016;
$primary: #a2132f;
$secondary: #05274c;
$box_shadow-cards: $primary;
$font-text: "Times New Roman";
