@charset "UTF-8";
.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  padding: 10px 15px;
  height: 80px;
  z-index: 100;
  background: #121119;
}
.nav img {
  position: absolute;
  left: 50px;
  height: 65px;
}
.nav .nav__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-right: 0px;
  position: absolute;
}
.nav .nav__ul .nav__li .nav__li-a {
  font-size: 17px;
  padding: 20px 15px;
  color: white;
  text-decoration: none;
  user-select: none;
  display: flex;
  gap: 5px;
  transition: color 0.1s ease-in;
}
.nav .nav__ul .nav__li .nav__li-a .arrow-rotate {
  transform: translateY(2px) rotate(-90deg);
}
.nav .nav__ul .nav__li .events-ul {
  display: none;
  position: absolute;
  flex-direction: column;
  z-index: 20;
  width: max-content;
  height: max-content;
  list-style: none;
  background: #a2132f;
  border: 1px solid black;
  opacity: 0.4;
}
.nav .nav__ul .nav__li .events-ul .events-ul__li {
  z-index: 10000;
  padding: 15px 20px;
  border: 1px solid transparent;
}
.nav .nav__ul .nav__li .events-ul .events-ul__li .events-ul__li-a {
  color: inherit;
  padding: 15px 20px;
  width: max-content;
  text-decoration: none;
}
.nav .nav__ul .nav__li .events-ul__li:hover {
  background: white;
  color: #750E21;
  border: 1px solid #750E21;
}
.nav .nav__ul .nav__li:hover > .events-ul {
  display: flex;
}
.nav .nav__ul .nav__li:hover > .nav__li-a,
.nav .nav__ul .nav__li:hover > .nav__li-a p {
  color: #a2132f;
}

.nav-responsive {
  display: none;
  height: 60px;
  width: 100%;
  align-items: center;
  background: transparent;
  border-bottom: 2px solid transparent;
  background: #111016;
}
.nav-responsive .btn-x-nav {
  display: none;
}
.nav-responsive .nav__h1-responsive {
  font-size: 17px;
  left: 20px;
  color: white;
  user-select: none;
  cursor: pointer;
}
.nav-responsive .nav__ul-responsive {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  list-style: none;
  position: absolute;
  flex-direction: column;
  top: 60px;
  width: 100%;
  background: #111016;
}
.nav-responsive .nav__ul-responsive .nav__li-responsive {
  width: 100%;
  text-align: center;
}
.nav-responsive .nav__ul-responsive .nav__li-responsive .nav__li-a-responsive {
  font-size: 20px;
  padding: 20px 15px;
  color: white;
  text-decoration: none;
  user-select: none;
  text-align: center;
  display: flex;
  gap: 5px;
}
.nav-responsive .nav__ul-responsive .nav__li-responsive .nav__li-a-responsive .arrow-rotate {
  transform: translateY(2px) rotate(-90deg);
}
.nav-responsive .nav__ul-responsive .nav__li-responsive:active {
  background: rgba(255, 255, 255, 0.1);
}
.nav-responsive .toogle-nav {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.section-school {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background: radial-gradient(circle at 50% -80%, #a2132f, #111016 80.71%), radial-gradient(circle at 6.7% 75%, #05274c, #111016 70.71%), radial-gradient(circle at 93.3% 75%, #05274c, #111016 70.71%) beige;
}
.section-school .container-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-family: "Oswald", serif;
  font-weight: 600;
  gap: 5px;
  padding: 0px 30px;
  height: 80%;
  width: 60%;
  background: transparent;
  border-radius: 10px;
  text-align: justify;
}
.section-school .container-text h1 {
  font-size: 35px;
  color: #fff;
}
.section-school .container-text p {
  font-family: sans-serif;
  font-size: 18px;
}
.section-school .container-text .section-school__links {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 20px;
  padding-top: 20px;
  text-decoration: none;
}
.section-school .container-text .section-school__links .section-school__link i {
  font-size: 30px;
}
.section-school .container-text .section-school__links .section-school__link:hover > i {
  color: #a2132f;
}
.section-school .container-text .section-school__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-top: 20px;
}
.section-school .container-text .section-school__info .section-school__info-text {
  display: flex;
  gap: 10px;
  font-size: 20px;
}
.section-school .section-school__img {
  width: 40%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 4px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 2px 4px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 2px 4px rgba(255, 255, 255, 0.75);
}
@media screen and (max-width: 992px) {
  .section-school {
    flex-direction: column;
    height: max-content;
    min-height: calc(100vh - 80px);
    background: radial-gradient(circle at 50% -90%, #a2132f, #111016 80.71%), radial-gradient(circle at 6.7% 75%, #05274c, #111016 70.71%), radial-gradient(circle at 93.3% 75%, #05274c, #111016 70.71%) beige;
  }
  .section-school .container-text {
    width: 100%;
    height: 280px;
    padding: 10px;
  }
  .section-school .container-text h1 {
    font-size: 25px;
  }
  .section-school .container-text p {
    font-size: 15px;
  }
  .section-school .container-text .section-school__links .section-school__link i {
    font-size: 20px;
  }
  .section-school .section-school__img {
    width: 100%;
    height: 380px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 768px) {
  .section-school .section-school__img {
    width: 100%;
    height: 280px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 576px) {
  .section-school .section-school__img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

.section-posts {
  width: 90%;
  min-height: 100vh;
  margin: auto;
  gap: 50px;
  margin-top: 100px;
}
.section-posts .section-posts__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: max-content;
  gap: 30px;
  flex-direction: column;
}
.section-posts .section-posts__cards .cards__card {
  width: 100%;
  height: 190px;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  gap: 10px;
  text-decoration: none;
}
.section-posts .section-posts__cards .cards__card .card__img {
  width: 30%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 0px 0px 8px;
}
.section-posts .section-posts__cards .cards__card:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.02);
  transition: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald";
  color: white;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #111016;
}

body::-webkit-scrollbar-thumb {
  background: #750E21;
  border-radius: 10px;
  border: 1px solid #750E21;
}

/* diseño de la seccion de informacion de las tecnicaturas */
body {
  background: #750E21;
}

.section-one {
  background: url("../../assets/img/banner.jpg") center center/cover;
  height: 55vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.section-one .container-text {
  background: rgba(20, 20, 20, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-one .container-text__h1 {
  font-size: 3em;
  text-align: center;
}
.section-one__div-school {
  transform: translateY(50%);
  width: max-content;
  height: max-content;
  display: inline-block;
  padding: 35px;
  border-radius: 100%;
  background: #750E21;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  margin: auto;
}
.section-one__div-school .div-school__img {
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article {
  padding: 10px;
  width: 90%;
  height: max-content;
  margin: 100px auto;
}
.article__h1 {
  color: #fff;
  font-family: "Oswald";
  font-size: 40px;
  margin: 10px 0px;
}
.article__p {
  font-family: "Times New Roman";
  font-size: 20px;
}
.article__p ul {
  margin-left: 30px;
}

@media only screen and (max-width: 500px) {
  .card-one {
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  .card-one .container-cards {
    width: 100%;
    max-height: max-content;
  }
  .card-one .container-cards .container-card {
    width: inherit;
  }
  .card-one .container-cards .container-card .card {
    width: inherit;
  }
}
.container-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.container-cards .card {
  margin-top: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 280px;
  text-align: start;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container-cards .card .card__img {
  border-radius: 8px 8px 0px 0px;
  max-width: 100%;
  max-height: 280px;
}
.container-cards .card .card__h2 {
  padding: 3px 5px;
  border-bottom: 2px solid #750E21;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Oswald";
}
.container-cards .card .container-info {
  width: 100%;
  height: 240px;
  overflow: hidden;
}
.container-cards .card .container-info .card__p {
  padding: 10px;
  color: whitesmoke;
  font-weight: bold;
  width: 100%;
  height: 100%;
  font-family: "Times New Roman";
}
.container-cards .card .card__a {
  text-decoration: none;
}
.container-cards .card .card__a .card__a-button {
  margin: 10px 0px;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  background: white;
  color: #750E21;
  transform: skew(-21deg);
}
.container-cards .card .card__a .card__a-button span {
  font-family: "Times New Roman";
  color: inherit;
  display: inline-block;
  transform: skew(21deg);
}
.container-cards .card .card__a .card__a-button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0%;
  background: #750E21;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s;
}
.container-cards .card .card__a .card__a-button:hover {
  color: #fff;
}
.container-cards .card .card__a .card__a-button:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}
.container-cards .card .card__a:hover {
  text-decoration: underline;
}

.section-news {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  margin: auto;
  gap: 50px;
  background: linear-gradient(to bottom, #111016, #121119);
  /* end .section-news__div */
}
.section-news h5 {
  color: #fff;
  font-size: 40px;
  font-family: "Oswald";
  border-bottom: 1px solid #fff;
  margin: 0px 10px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 992px) {
  .section-news h5 {
    font-size: 30px;
    margin: 10px;
  }
}
.section-news .section-news__div {
  display: flex;
  gap: 20px;
  padding: 10px;
  width: 100%;
  height: calc(100vh - 90px);
  /* end .section-news__div-primary */
  /* end .section-news__div-secondary */
}
.section-news .section-news__div .section-news__div-primary {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 65%;
  height: 100%;
  max-height: 600px;
  overflow: hidden;
  box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.35);
  -moz-box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.35);
  transition: 0.2s ease;
  position: relative;
  /* end .section-news__div-primary-info */
}
.section-news .section-news__div .section-news__div-primary .section-news__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  background-attachment: fixed;
}
@media only screen and (max-width: 576px) {
  .section-news .section-news__div .section-news__div-primary .section-news__img {
    width: 100%;
    height: 100%;
  }
}
.section-news .section-news__div .section-news__div-primary .section-news__div-primary-info {
  display: flex;
  flex-direction: column;
  height: 40%;
  padding: 8px;
}
.section-news .section-news__div .section-news__div-primary .section-news__div-primary-info h2 {
  color: #fff;
  font-size: 26px;
  font-family: "Oswald";
}
.section-news .section-news__div .section-news__div-primary .section-news__div-primary-info .section-news__p-date {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  font-family: arial;
  font-weight: bold;
  margin-bottom: 10px;
}
.section-news .section-news__div .section-news__div-primary .section-news__div-primary-info .section-news__p-date i {
  color: rgba(255, 255, 255, 0.4);
}
@media only screen and (max-width: 576px) {
  .section-news .section-news__div .section-news__div-primary .section-news__div-primary-info {
    width: 100%;
    height: auto;
  }
}
.section-news .section-news__div .section-news__div-primary .section-news__a {
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
@media only screen and (max-width: 992px) {
  .section-news .section-news__div .section-news__div-primary .section-news__a {
    position: relative;
  }
}
.section-news .section-news__div .section-news__div-primary .section-news__a:hover {
  color: #a2132f;
}
@media only screen and (max-width: 992px) {
  .section-news .section-news__div .section-news__div-primary {
    width: 100%;
  }
}
.section-news .section-news__div .section-news__div-secondary {
  box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.35);
  -moz-box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.35);
  width: 35%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* end .section-news__news--small */
}
.section-news .section-news__div .section-news__div-secondary .section-news__news--small {
  flex: 1;
  display: flex;
  align-items: start;
  color: #fff;
  font-family: "Times New Roman";
  font-size: 16px;
  gap: 10px;
  overflow: hidden;
  /* end .section-news__img--small */
  /* end .section-news__div-info--small */
}
.section-news .section-news__div .section-news__div-secondary .section-news__news--small .section-news__img--small {
  width: 30%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 576px) {
  .section-news .section-news__div .section-news__div-secondary .section-news__news--small .section-news__img--small {
    width: 100%;
    height: auto;
  }
}
.section-news .section-news__div .section-news__div-secondary .section-news__news--small .section-news__div-info--small {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 70%;
}
.section-news .section-news__div .section-news__div-secondary .section-news__news--small .section-news__div-info--small .section-news__h2--small {
  font-size: 14px;
  font-weight: bold;
}
.section-news .section-news__div .section-news__div-secondary .section-news__news--small .section-news__div-info--small .section-news__p-date--small {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
}
.section-news .section-news__div .section-news__div-secondary .section-news__news--small .section-news__div-info--small .section-news__p-date--small i {
  color: rgba(255, 255, 255, 0.4);
}
.section-news .section-news__div .section-news__div-secondary .section-news__news--small .section-news__div-info--small .section-news__a--small {
  position: absolute;
  bottom: 0px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 14px;
}
@media only screen and (max-width: 992px) {
  .section-news .section-news__div .section-news__div-secondary .section-news__news--small .section-news__div-info--small .section-news__a--small {
    position: relative;
    margin-top: 10px;
  }
}
.section-news .section-news__div .section-news__div-secondary .section-news__news--small .section-news__div-info--small .section-news__a--small:hover {
  color: #a2132f;
}
@media only screen and (max-width: 576px) {
  .section-news .section-news__div .section-news__div-secondary .section-news__news--small {
    flex-direction: column;
  }
}
@media only screen and (max-width: 992px) {
  .section-news .section-news__div .section-news__div-secondary {
    width: 100%;
    gap: 50px;
  }
}
@media only screen and (max-width: 992px) {
  .section-news .section-news__div {
    height: max-content;
    flex-direction: column;
  }
}
.section-news .section-news__a-info {
  text-decoration: none;
  padding: 15px 40px;
  width: max-content;
  margin: 20px auto;
  transition: background 0.2s ease;
  border: 2px solid #a2132f;
  z-index: 10;
  position: relative;
  overflow: hidden;
}
.section-news .section-news__a-info::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200%;
  left: 0;
  top: -200%;
  background: #a2132f;
  transition: 0.5s ease;
  border-radius: 50%;
  z-index: -1;
}
.section-news .section-news__a-info:hover::before {
  top: 0;
  border-radius: 0;
}
@media only screen and (max-width: 576px) {
  .section-news {
    padding: 8px;
  }
}

/* end .section-news */
.card-one,
.section-fp {
  padding: 30px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  background: #750E21;
}
.card-one .card__h1,
.section-fp .card__h1 {
  color: whitesmoke;
  margin: auto;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
}

.card-one {
  text-align: center;
  background: radial-gradient(circle at 50% -90%, #a2132f, #111016 80.71%), radial-gradient(circle at 6.7% 75%, #05274c, #111016 70.71%), radial-gradient(circle at 93.3% 75%, #05274c, #111016 70.71%) beige;
}
.card-one .card__p-subtitle {
  font-size: 25px;
}

.section-basic-cycle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../img/img-basic-cycle/img1.webp") no-repeat center center/cover;
  animation: cambiarImagen 6s ease-in-out infinite alternate;
}
.section-basic-cycle .bg-color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
}
.section-basic-cycle__h4 {
  text-align: center;
  font-size: 70px;
  position: relative;
}
@media screen and (max-width: 764px) {
  .section-basic-cycle__h4 {
    font-size: 30px;
  }
}
.section-basic-cycle__div-age {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  text-decoration: none;
}
.section-basic-cycle__div-age .section-basic-cycle__p-age {
  font-size: 40px;
  text-decoration: none;
  font-family: monospace;
  user-select: none;
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border: 1.5px solid rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 764px) {
  .section-basic-cycle__div-age .section-basic-cycle__p-age {
    font-size: 24px;
  }
}
.section-basic-cycle__h5 {
  font-size: 30px;
  position: relative;
  text-align: center;
}
.section-basic-cycle__p-info {
  text-align: justify;
  padding: 10px;
  width: 70%;
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 980px) {
  .section-basic-cycle__div-age {
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  .section-basic-cycle__p-info {
    width: 70%;
  }
}
@media only screen and (max-width: 1120px) {
  .nav .nav__ul .nav__li .nav__li-a {
    font-size: 17px;
  }
}
@media only screen and (max-width: 900px) and (min-width: 700px) {
  .nav__ul {
    padding: 10px;
  }
  .nav__ul .nav__li a {
    font-size: 12px;
  }
}
@media only screen and (max-width: 950px) {
  .nav {
    display: none;
  }
  .nav-responsive {
    display: flex;
  }
  .nav-responsive .nav__h1-responsive {
    position: absolute;
    left: 20px;
  }
  .nav-responsive .nav-responsive__nav-btn {
    position: absolute;
    color: white;
    right: 20px;
    font-size: 26px;
    cursor: pointer;
  }
  .nav-responsive .nav-responsive__nav-btn i:nth-child(2) {
    font-size: 30px;
  }
  .nav-responsive .nav-responsive__nav-btn:active {
    user-select: none;
    background: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .nav-responsive .nav__ul-responsive {
    display: flex;
    background: #750E21;
    height: calc(100vh - 60px);
    flex-direction: column;
    justify-content: flex-start;
  }
  .nav-responsive .nav__ul-responsive .nav__li-responsive {
    z-index: 1000;
  }
  .nav-responsive .nav__ul-responsive .nav__li-responsive .nav__li-a-responsive {
    padding: 20px;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
@media only screen and (max-width: 600px) {
  .nav-responsive .nav__ul-responsive {
    height: calc(100vh - 60px);
    border-bottom: 1px solid black;
  }
}
@media only screen and (max-width: 340px) {
  .nav-responsive .nav__h1-responsive {
    font-size: 15px;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@keyframes cambiarImagen {
  0% {
    background: url("/assets/img/img-basic-cycle/img1.webp") no-repeat center center/cover;
  }
  25% {
    background: url("/assets/img/img-basic-cycle/img1.webp") no-repeat center center/cover;
  }
  50% {
    background: url("/assets/img/img-basic-cycle/img3.webp") no-repeat center center/cover;
  }
  75% {
    background: url("/assets/img/img-basic-cycle/img3.webp") no-repeat center center/cover;
  }
  90% {
    background: url("/assets/img/img-basic-cycle/img4.webp") no-repeat center center/cover;
  }
  100% {
    background: url("/assets/img/img-basic-cycle/img4.webp") no-repeat center center/cover;
  }
}
.article-form {
  padding: 10px;
  width: 90%;
  height: max-content;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.article-form__p {
  padding: 10px;
  font-family: "Times New Roman";
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
}
.form .form__div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 10px;
}
.form .form__div .form__input {
  width: 100%;
  color: #000;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.form .form__div .form__textarea {
  width: 100%;
  color: #000;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.form .form__div .form__button {
  width: max-content;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: #000;
}
.form .form__div .form__button:hover {
  background: rgba(255, 255, 255, 0.8);
}
.form .form__div--button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: max-content;
  /* end .footer__container */
}
.footer .footer__logo {
  width: 80px;
  height: 80px;
}
.footer .footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: max-content;
  padding: 30px 5px;
  background: #000;
  flex-wrap: wrap;
}
.footer .footer__container .footer__div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 240px;
  height: 160px;
}
.footer .footer__container .footer__div .footer__p {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
@media screen and (max-width: 512px) {
  .footer .footer__container .footer__div .footer__p {
    font-size: 14px;
  }
}
.footer .footer__container .footer__div .footer__p--title {
  font-family: "Oswald", sans-serif;
  color: #aaa;
}
.footer .footer__container .footer__div .footer__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}
.footer .footer__container .footer__div .footer__ul .footer__li {
  font-family: "Times New Roman", sans-serif;
}
.footer .footer__container .footer__div .footer__ul .footer__li .footer__li-a {
  text-decoration: none;
  color: white;
  transition: color 0.1s ease-in;
  font-size: 14px;
}
.footer .footer__container .footer__div .footer__ul .footer__li .footer__li-a:hover {
  color: rgb(116, 10, 10);
}
.footer .footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: max-content;
  background: #000;
  padding: 30px 10px;
}
.footer .footer__copyright .footer__p--copy {
  font-family: "Times New Roman", sans-serif;
  font-size: 14px;
  color: #aaa;
}

/*# sourceMappingURL=style.css.map */
